<%- include('parts/html-head') %>
<!-- --要用ejsesc (不要跳脫 html) -->
<!-- --路徑開頭不要'/', .ejs 可以省略-->
<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <% /* 回應排序資料 meth1 %> 
            <% for( let k in handleObj ) { %>
                <a class="btn <%= handleObj[k].selected ? 'btn-primary' : 'btn-outline-primary'%> " href="?orderby=<%= k %> "><%= handleObj[k].label %> </a>
            <% } %>
            <% */ %> 

            <% for( let k in handleObj ) {
                const style = orderby===k ? 'btn-primary' : 'btn-outline-primary' %>
                <a class="btn <%= style %> " href="?orderby=<%= k %> "><%= handleObj[k].label %> </a>
            <% } %>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">編號</th>
                        <th scope="col">姓名</th>
                        <th scope="col">年齡</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let s of data) { %>
                        <tr>
                            <td><%= s.id %> </td>
                            <td><%= s.name %> </td>
                            <td><%= s.age %> </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>
