<%- include('parts/html-head') %>
<!-- --要用ejsesc (不要跳脫 html) -->
<!-- --路徑開頭不要'/', .ejs 可以省略-->
<%- include('parts/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">登入</h5>
          <form onsubmit="postForm(event)" name="form1">
            <div class="mb-1">
              <label for="email" class="form-label">email帳號</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
              />
              <div class="form-text">****</div>
            </div>
            <div class="mb-1">
              <label for="password" class="form-label">密碼</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
              <div class="form-text">****</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('parts/scripts') %>
<script>
  function postForm(e){
    e.preventDefault();
    console.log('send form');

    // TODO: 資料檢查

    const lastPage = <%- JSON.stringify(locals.session.lastPage) %>;

    let form1 = document.form1;
    const fd = new FormData(form1);
    // --有形的表單資料(form1)，放到無形的表單(fd)

    // meth 1 -----[用 multipart-form data 傳送]
    fetch('', {
    // 路徑用 '' : url 跟目前的一樣，但用 post 送
      method: 'post',
      body: fd
    })
    .then(r => r.json())
    .then(obj => {
      console.log('obj', obj);
      if (obj.success){
        alert('登入成功');
        // ---[跳至原本要去的地方]
        console.log(lastPage); // /address-book/add
        location.href = lastPage; // location.href 要用 originalUrl

        // ---[跳回上一個頁面]
        // location.href = document.referrer;

      } else {
        alert('登入失敗');
        console.log('obj.errors', obj.errors);
        for(let e in obj.errors){
          console.log(obj.errors[e]);
          document.querySelector(`#${e}`).nextElementSibling.innerHTML = obj.errors[e];
        }
      }
    })


    // meth 2 -----[用 urlencoded 傳送]
    // const usp = new URLSearchParams(fd);

    // fetch('', {
    //   method: 'post',
    //   body: usp.toString(),
    //   headers: {
    //     'Content-Type': 'application/x-www-form-urlencoded'
    //   }
    // })
    // .then(r => r.json())
    // .then(data => {
    //   console.log('data', data);
    // })


    // meth 3 -----[用 json 傳送]
    // const obj = {};
    // for (let [k, v] of fd.entries()){
    //   obj[k] = v;
    // }

    // fetch('', {
    //   method: 'post',
    //   body: JSON.stringify(obj),
    //   headers: {
    //     'Content-Type': 'application/json'
    //   }
    // })
    // .then(r=>r.json())
    // .then(data => {
    //   console.log('data', data);
    // })
  }
</script>
<%- include('parts/html-foot') %>
