
<%- include('parts/html-head')  %>
<!-- --要用ejsesc (不要跳脫 html) -->
<!-- --路徑開頭不要'/', .ejs 可以省略-->
<%- include('parts/navbar') %> 


<div class="container">
    <div class="row">
        <div class="col">
            <h2><%= name %> </h2>
        </div>
    </div>
</div>


<%- include('parts/scripts')  %>
<%- include('parts/html-foot')  %>
